@media screen and (min-width: 480px){
  /************************
  TWO COLUMN LAYOUT
  ************************/
	#flex-container{

		-webkit-box-direction: row; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
		/* doesn't support wrap */
		-webkit-box-lines: multiple;

		-moz-box-direction: row; /* OLD - Firefox 19- (buggy but mostly works) */
		-moz-box-lines: multiple;
			
		-ms-flexbox-direction: row; /* TWEENER - IE 10 */
		-ms-flex-wrap: wrap;

		-webkit-flex-direction: row; /* New Safari 6.1+, iOS 7.1+, BB10 */
		-webkit-flex-wrap: wrap;

		flex-direction: row; /* NEW, Spec - Firefox, Chrome, Opera */
		flex-wrap:wrap;

		margin-left:25px;
	}
	.news-image{
		width:40%;
		margin: 2.5%;
	}
	.para{	
		width:50%;
		margin-right:2.5%;
		margin-top:-10px;
			
	}
	.innerbox #toby-image{
		width:50%;
		margin:2.5%;
	}
	

	#map-container{
		width:40%;
		margin:2.5%;
	}

	.contact{
		/*width:40%;
		margin-left:30px;
		margin-right:30px;*/
		margin:0 auto;
		margin-top: -10px;
		padding:0;

	}

	.contact-info a{
		background-size:18px;
		padding-left:30px;
	}

	.contact-info li.phone a{
		font-size:1.2em;
	}

	.contact-info li.email a{
		font-size:1em;
	}

	.contact-info li.address a{
		font-size:0.9em;
	}

}

@media screen and (min-width:525px){
	/**********************
	 * CONTACT PAGE LAYOUT
	 * *******************/
	.contact-info li.email a{
		font-size:1.2em;
	}
}

@media screen and (min-width: 768px){
  /************************
  INNERBOX LAYOUT
  ************************/
	#page-background{
		background: url('../img/main-background.jpg') no-repeat center;
		background-size: cover;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	.main{
		 width: 100%;
	}
	.innerbox{
		width:80%;
		top:10%;
		left:0;
		right:0;
		margin-left: auto;
		margin-right: auto;
	 	background-color: rgba(44, 54, 61, 0.8);
	}

	.innerbox h1{
		margin-bottom:40px;
	}

	.navbar-right{
		margin-top:7px;
	}

	.para{
		margin-top:4px;
	}

	.para p{
		padding:5px 0 20px 0;
	}

	.what-info h2,h3{
		margin-top:8px;
		padding: 0 0 10px 0;
	}
	.news-image{
		width:30%;
	}

	#map-container{
		width:30%;
	}
	.verticalLine{
		padding:10px;
		border-left:1px solid #fff;
		margin-top:-20px;
	}

	.horizontalLine{
		padding:10px;
		border-top:1px solid #fff;
		width:95%;
		margin-left:10px;
	}
	
	.container{
		margin-left:5px;
		width:auto;
	
	}

	.navbar-nav>li{
		margin-right: -13px;
	}

	.contact{
		margin-top:0;
	}

	.contact h2{
		font-size:1.6em;
	}
	.contact-info a{
		background-size:25px 25px;
		padding-left:40px;
	}
	.contact-info li.phone a{
		font-size: 1.5em;
	}

	.contact-info li.email a{
		font-size: 1.5em;
	}
	.contact-info li.address a{
		font-size: 1.2em;
	}
	
}

@media screen and (min-width: 992px){
	
	.container{
		width:auto;
	}

	.what-info h2,h3{
		margin-top:15px;

	}
	.para p{
		padding:10px 0 20px 0;
	}
}

@media screen and (min-width:1200px){
	
	.container{
		width:auto;
	}

	.para{
		margin-top:4px;
	}

	.what-info h2,h3{
		margin-top:20px;
	}

	.para p{
		padding:15px 0 20px 0;
	}

}

@media screen and (min-width:1440px){
	
	.para{
		margin-top:6px;
	}

	.contact{
		margin-top:6px;
	}

	.what-info h2,h3{
		margin-top:23px;
	}
	.para p{
		padding:18px 0 20px 0;
	}

}

@media screen and (min-width:1660px){

	.para{
		margin-top:15px;
	}

	.contact{
		margin-top: 20px;
	}
	

	


}



