/************************
GENERAL
************************/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  position:relative;
  min-height: 100%;
}
body{
	font-family: proxima-nova, sans-serif;
	
}


a {
   text-decoration: none;
}

img{
  max-width: 100%; 
}


#page-background{
  	background: linear-gradient(#fff,transparent 20%),
		linear-gradient(0deg, #fff,transparent),
        #fff url('../img/main-background.jpg') no-repeat center;
  	background-size: cover;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
