{% extends 'main.twig' %}
{% set active_page = 'about' %}


{% block title %}About Us{% endblock %}


{% block heading %}About Us{% endblock %}

{% block content %}
	
	<div class="news-image">
		<img src="{{ aboutUs.about_img  }}" alt="News Story Image" />
	</div>
	<div class="verticalLine"></div>
	<div class="para">
		<div class="what-info">
			<p>{{ aboutUs.about_para  }}</p>
			<p>{{ aboutUs.about_para1 }}</p>
			<p>{{ aboutUs.about_para2 }}</p>
		</div>
	</div>
	<div class="horizontalLine"></div>
{% endblock %}
