{% extends 'main.twig' %}
{% set active_page = 'about' %}


{% block title %}About Us{% endblock %}


{% block heading %}About Us{% endblock %}

{% block content %}
	
	<div id="toby-image">
		<img src="{{ aboutUs.about_img  }}" alt="News Story Image" />
	</div>
	<p>{{ aboutUs.about_para  }}</p>
	
{% endblock %}
