{% extends 'main.twig' %}
{% set active_page = 'admin' %}

{% block title %}Welcome Admin{% endblock %}


{% block heading %}Hello Toby{% endblock %}

{% block admin %}

	<div id="admin-info">
		<p>Please select what content you want to update from the dropdown menu</p>
		<p>If you need to change your password you can also do this from there</p>
	</div>

{% endblock %}

