{% extends 'main.twig' %}

{% block title %}Admin - Update Content{% endblock %}


{% block heading %}Update News{% endblock %}

{% block admin %}
	
	<div class="row">
		
		<div class=".col-md-6 col-md-offset-3 for">

			<div class="panel panel-default">
				
				<div class="panel-heading">News</div>

				<div class="panel-body">
					
					<form action="{{ path_for('adminNews.update') }}" method="post" autcomplete="off">
						
						<div class="form-group{{ errors.email ? ' has-error' : '' }}">
							
							<label for="home_img">News Image Url</label>

							<input type"text" name="home_img" id="home_img" class="form-control" >


						</div>
					
						<div class="form-group{{ errors.password ? ' has-error' : '' }}">
											
							<label for="home_para">News Paragraph</label>

							<input type="text" name="home_para" id="home_para" class="form-control">

							
						</div>

						<button type="submit" class="btn btn-default">Update News</button>

						{{ csrf.field | raw }}
						
					</form>

				</div>

			</div>

		</div>

	</div>
	
	
{% endblock %}

