{% extends 'main.twig' %}

{% block title %}Admin - Update Content{% endblock %}


{% block heading %}Update Portfolio{% endblock %}

{% block admin %}
	
	<div class="row">
		
		<div class=".col-md-6 col-md-offset-3 for">

			<div class="panel panel-default">
				
				<div class="panel-heading">Portfolio 2</div>

				<div class="panel-body">
					
					<form action="{{ path_for('adminPort2.update') }}" method="post" autcomplete="off">
						
						<div class="form-group{{ errors.email ? ' has-error' : '' }}">
							
							<label for="port_img">Portfolio 2 Img Url</label>

							<input type"text" name="port_img" id="port_img" class="form-control" >


						</div>
					
						<div class="form-group{{ errors.password ? ' has-error' : '' }}">
											
							<label for="port_para">Portfolio 2 Paragraph</label>

							<input type="text" name="port_para" id="port_para" class="form-control">

							
						</div>

						<button type="submit" class="btn btn-default">Update Portfolio 2</button>

						{{ csrf.field | raw }}
						
					</form>

				</div>

			</div>

		</div>

	</div>
	
	
{% endblock %}

