{% extends 'main.twig' %}
{% set active_page = 'contact' %}

{% block title %}Contact Us{% endblock %}

{% block heading %}Contact Us{% endblock %}

{% block content %}
			<div id="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.53522903269!2d-0.19182428482304767!3d51.466689221500815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760f7dc46938ef%3A0xe1111bdc45b14a15!2sThe+Hurlingham+Pub+%26+Kitchen!5e0!3m2!1sen!2suk!4v1462447258314" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>	
			</div>
			
			<div id="address">
				<p>Masionette Hurlingham 360 Wandsworth Bridge Road</p>
				<p>Fulham</p>
				<p>London</p>
				<p>SW6 2TZ</p>
				<p>England</p>
			</div>	


{% endblock %}
