{% extends 'main.twig' %}
{% set active_page = 'contact' %}

{% block title %}Contact Us{% endblock %}

{% block heading %}Contact Us{% endblock %}

{% block content %}
			<div class="news-image">
				<div id="map"></div>
			</div>
			<div class="verticalLine"></div>
			<div class="contact">
				<h3>Contact Info</h3>

				<ul class="contact-info">
					<li class="phone"><a href="tel:07340334933">07340334933</a></li>
					<li class="email"><a href="mailto:toby@decorum.net">toby@decorum.net</a></li>
					<li class="address">
						<a href="/contact-us">
							<p>Masionette Hurlingham</p> 
							<p>360 Wandsworth Bridge Road</p>
							<p>Fulham</p>
							<p>London</p>
							<p>SW6 2TZ</p>
							<p>England</p>
						</a>
					</li>

				</ul>
			</div>
			<div class="horizontalLine"></div>

			<script>
			
			

			function initMap() {
				var myLatLang = {lat: 51.46674, lng: -0.18976};

				var mapDiv = document.getElementById('map');
				var map = new google.maps.Map(mapDiv, {
					center: myLatLang,
					zoom: 17
				});

				var marker = new google.maps.Marker({
					position: myLatLang,
					map:map,
					title: 'Decorum Bulidng Consultancy'
				});

var center;
function calculateCenter() {
  center = map.getCenter();
}
google.maps.event.addDomListener(map, 'idle', function() {
  calculateCenter();
});
google.maps.event.addDomListener(window, 'resize', function() {
  map.setCenter(center);
});

			}
			</script>
{% endblock %}
