{% extends 'main.twig' %}
{% set active_page = 'home' %}

{% block title %}Welcome - Latest News Story{% endblock %}


{% block heading %}Latest News Story{% endblock %}

{% block content %}
	
	<div id="news-image">
		<img src="../img/home-page-news-img.jpg" alt="News Story Image" />
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat imperdiet ligula eu dictum. Praesent eleifend sagittis urna, in lacinia velit pellentesque ac. Integer accumsan sapien non orci sollicitudin, ac commodo turpis dignissim. Duis nibh magna, maximus ac dictum in, sodales blandit lorem. Ut ultricies, dui eget lobortis pellentesque, ligula lectus accumsan leo, non facilisis quam sem id enim. Morbi vitae vehicula arcu, eu sodales nibh. Duis dui erat, hendrerit a nisi eu, dapibus euismod arcu. Cras dapibus consequat purus. In hac habitasse platea dictumst. Phasellus in pharetra nisl. Nam consequat urna felis, non tempus tortor vestibulum ut. Donec a aliquam urna. Etiam et augue nibh. Quisque laoreet tortor id posuere posuere. Cras ut purus sed leo cursus molestie at a mauris. Duis tempus vel eros a ornare.</p>

	
{% endblock %}

 
