{% extends 'main.twig' %}
{% set active_page = 'home' %}

{% block title %}Welcome - Latest News Story{% endblock %}


{% block heading %}Latest News Story{% endblock %}

{% block content %}
	
	<div class="news-image">
		<img src="{{ homePage.home_img  }}" alt="News Story Image" />
	</div>
	<div class="para">
		<p>{{ homePage.home_para  }}</p>
	</div>
	
{% endblock %}

 
