<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Welcome to Toby.com!</title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
	{% block content %}
		<div id="page-background">
			<img src="img/main-background.jpg" width="100%" alt="Background Image" />
		</div>
	{% endblock content %}

	</body>
</html>

