{% extends 'main.twig' %}
{% set active_page = 'portfolio' %}

{% block title %}Portfolio{% endblock %}


{% block heading %}Portfolio{% endblock %}

{% block content %}
	
	{% for item in portPage %}	
		<div class="news-image">
			<img src="{{ item.port_img  }}" alt="News Story Image" />
		</div>
		<div class="verticalLine"></div>
		<div class="para">
			<p>{{ item.port_para  }}</p>
		</div>
		<div class="horizontalLine"></div>
	{% endfor %}
	
{% endblock %}

