{% extends 'main.twig' %}
{% set active_page = 'what' %}

{% block title %}What We Do{% endblock %}


{% block heading %}What We Do{% endblock %}

{% block content %}
	
	<div class="news-image">
		<img src="{{ whatPage.what_img  }}" alt="What We Do Image" />
	</div>
	<div class="verticalLine"></div>
	<div class="para">
		<p>{{ whatPage.what_para  }}</p>
	</div>
	<div class="horizontalLine"></div>
	
{% endblock %}

